CompileFlags:
  Add: [-xc++, -std=c++26, -stdlib=libc++, -fconstexpr-backtrace-limit=0, -ftemplate-backtrace-limit=0, -IC:/Users/rafaed/clang-p2996/install/include/c++/v1, -IC:/raylib/dib/include, -IC:/raylib/dib/src, -IC:/raylib/raylib/raylib/include, -IC:/raylib/raylib/raygui/src, -freflection-latest, -fexperimental-library]